# 忽略缓存
DerivedDataCache/
Intermediate/
Saved/
Platforms/
Build/
*.log
*.tmp
*.bak
.vs/
*.suo
*.sln
.DS_Store
Thumbs.db

# ========== 你要保留 Binaries（所以不写 Binaries/） ==========

# ========== Content 默认全部不上传 ==========
Content/**

# ========== 你想上传的 Content 文件夹（白名单） ==========
!Content/Blueprints/
!Content/Maps/
!Content/UI/

# ========== 强制上传全部 Source（必须） ==========
!Source/

# ========== 保留项目配置 ==========
!Config/
!*.uproject
